# **Import necessary** **libraries**

In [1]:
import os  # Used for interacting with the operating system
from nltk.tokenize import sent_tokenize, word_tokenize  # Tokenization functions from NLTK
from nltk.corpus import stopwords  # Stopwords from NLTK for text processing
import pandas as pd  # Pandas for data manipulation and analysis
import numpy as np  # NumPy for numerical operations
import math  # Math library for mathematical functions
import re

# **Mount Google Drive**

In [2]:
from google.colab import drive


drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
def lexrank_summarizer(file_path):
    file = open(file_path, 'r')
    text = file.read()

    text = text.strip().replace('\n', ' ')

    # Tokenize the text into sentences
    text = re.sub(r'https?://\S+', '', text)
    text = re.sub(r'www\.\S+', '', text)
    text = re.sub(r'\b\d{1,4}[-/]\d{1,2}[-/]\d{1,4}\b', '', text)

    # Remove times
    text = re.sub(r'\b\d{1,2}:\d{1,2}(:\d{1,2})?\b', '', text)

    # Remove email addresses
    text = re.sub(r'\b[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Z|a-z]{2,}\b', '', text)

    sentences = sent_tokenize(text)

    stop_words = set(stopwords.words('english'))

    def token_lower(sentence):
        # Convert the sentence to lowercase
        sentence = sentence.lower()

        # Replace '$' with 'dollar'
        sentence = re.sub("[$]", "dollar ", sentence)

        # Replace '£' with 'pound'
        sentence = re.sub("[£]", "pound ", sentence)

        # Replace '%' with 'percent'
        sentence = re.sub("[%]", " percent", sentence)

        # Remove characters other than alphanumeric, '?', '!', '.', ',', "'", and '-'
        sentence = re.sub(r"[^a-zA-Z0-9?!.,’-]", ' ', sentence)

        # Add spaces around '?', '!', and '.'
        sentence = re.sub(r"([?!])", r" \1 ", sentence)

        # Add space after a lowercase letter followed by '.', ','
        sentence = re.sub(r'([a-z])(?=[.,])', r'\1 ', sentence)

        # Replace multiple spaces with a single space
        sentence = re.sub(r"\s+", " ", sentence)

        # Add a full stop at the end of the sentence
        sentence += "."

        # Tokenize the sentence using NLTK's word_tokenize
        words = word_tokenize(sentence)

        # Filter out stopwords and non-alphabetic words, and convert to lowercase
        filtered_words = [word.lower() for word in words if (word not in stop_words and word.isalpha())]

        return filtered_words

    tok_fil_sent = list(map(token_lower, sentences))
    num_nodes = len(tok_fil_sent)

    def idf(tok_fil_sent):
        word_idf = {}
        sent_set = []
        words = set()
        num_sent = len(tok_fil_sent)
        for i in range(num_sent):
            sent_set += [set(tok_fil_sent[i])]
            words |= sent_set[i]
        words = list(words)
        for word in words:
            word_idf[word] = math.log(float(num_sent) / sum([1 for i in range(num_sent) if word in sent_set[i]]))
        return word_idf

    word_idf = idf(tok_fil_sent)

    def idf_mod_cos(sent1, sent2, word_idf):
        sent1_dict = {}
        sent2_dict = {}
        for word in sent1:
            if word in sent1_dict:
                sent1_dict[word] += 1
            else:
                sent1_dict[word] = 1
        for word in sent2:
            if word in sent2_dict:
                sent2_dict[word] += 1
            else:
                sent2_dict[word] = 1

        common_words = set(sent1_dict.keys()) & set(sent2_dict.keys())

        if not common_words:
            return 0.0

        numerator = sum(sent1_dict[word] * sent2_dict[word] * word_idf[word] * word_idf[word] for word in common_words)

        sum_squared_sent1 = sum((sent1_dict[word] * word_idf[word]) ** 2 for word in sent1_dict)
        sum_squared_sent2 = sum((sent2_dict[word] * word_idf[word]) ** 2 for word in sent2_dict)

        denominator = math.sqrt(sum_squared_sent1) * math.sqrt(sum_squared_sent2)

        if denominator == 0.0:
            return 0.0

        similarity = numerator / denominator

        return similarity

    graph = np.zeros((num_nodes, num_nodes))
    for i in range(num_nodes):
        for j in range(i + 1, num_nodes):
            graph[i, j] = idf_mod_cos(tok_fil_sent[i], tok_fil_sent[j], word_idf)
            graph[j, i] = graph[i, j]

    node_weights = np.ones(num_nodes)

    def text_rank_sent(graph, node_weights, d=0.85, iter=20):
        weight_sum = np.sum(graph, axis=0)
        while iter > 0:
            for i in range(len(node_weights)):
                temp = 0.0
                for j in range(len(node_weights)):
                    temp += graph[i, j] * node_weights[j] / weight_sum[j]
                node_weights[i] = 1 - d + (d * temp)
            iter -= 1

    text_rank_sent(graph, node_weights)

    top_k = 10  # assuming you want to print the top 10 sentences
    top_index = [i for i, j in sorted(enumerate(node_weights), key=lambda x: x[1], reverse=True)[:top_k]]
    top_sentences = [sentences[i] for i in top_index]

    # Check if there are top sentences to join
    if top_sentences:
        # Join top sentences with a single space and add a period at the end
        ext_summary = " ".join(top_sentences) + "."
    else:
        # Handle the case where there are no top sentences
        ext_summary = ""

    return ext_summary

In [3]:
# Specify the folder paths
annual_report_folder = 'fns2020_dataset/validation/annual_reports'
output_folder = 'output_summaries'

In [4]:
# Ensure the output folder exists, create if not
if not os.path.exists(output_folder):
    os.makedirs(output_folder)

In [5]:
import nltk
nltk.download('punkt')
nltk.download('stopwords')

[nltk_data] Downloading package punkt to /home/student/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     /home/student/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [6]:
# Process each file in the annual report folder
for file_name in os.listdir(annual_report_folder):  # Adjust the limit as needed
    file_path = os.path.join(annual_report_folder, file_name)
    summary = lexrank_summarizer(file_path)

    # Write the summary to an output file
    output_file_path = os.path.join(output_folder, f'summary_{file_name}')
    with open(output_file_path, 'w') as output_file:
        output_file.write(summary)

    print(f'Summary for {file_name} written to {output_file_path}')

/tmp/ipykernel_10827/1279677729.py:123: RuntimeWarning: invalid value encountered in scalar divide
  temp += graph[i, j] * node_weights[j] / weight_sum[j]

Summary for 31939.txt written to output_summaries/summary_31939.txt
Summary for 31839.txt written to output_summaries/summary_31839.txt
Summary for 32886.txt written to output_summaries/summary_32886.txt
Summary for 31333.txt written to output_summaries/summary_31333.txt
Summary for 32602.txt written to output_summaries/summary_32602.txt
Summary for 33038.txt written to output_summaries/summary_33038.txt
Summary for 31654.txt written to output_summaries/summary_31654.txt
Summary for 31857.txt written to output_summaries/summary_31857.txt
Summary for 31620.txt written to output_summaries/summary_31620.txt
Summary for 30894.txt written to output_summaries/summary_30894.txt
Summary for 31033.txt written to output_summaries/summary_31033.txt
Summary for 31007.txt written to output_summaries/summary_31007.txt
Summary for 31224.txt written to output_summaries/summary_31224.txt
Summary for 32143.txt written to output_summaries/summary_32143.txt
Summary for 31037.txt written to output_summaries/summary_31037.txt
Summary for 30830.txt written to output_summaries/summary_30830.txt
Summary for 32599.txt written to output_summaries/summary_32599.txt
Summary for 30943.txt written to output_summaries/summary_30943.txt
Summary for 32355.txt written to output_summaries/summary_32355.txt
Summary for 31784.txt written to output_summaries/summary_31784.txt
Summary for 32340.txt written to output_summaries/summary_32340.txt
Summary for 32021.txt written to output_summaries/summary_32021.txt
Summary for 31146.txt written to output_summaries/summary_31146.txt
Summary for 31015.txt written to output_summaries/summary_31015.txt
Summary for 33083.txt written to output_summaries/summary_33083.txt
Summary for 31969.txt written to output_summaries/summary_31969.txt
Summary for 30954.txt written to output_summaries/summary_30954.txt
Summary for 32286.txt written to output_summaries/summary_32286.txt
Summary for 31114.txt written to output_summaries/summary_31114.txt
Summary for 31846.txt written to output_summaries/summary_31846.txt
Summary for 30962.txt written to output_summaries/summary_30962.txt
Summary for 31315.txt written to output_summaries/summary_31315.txt
Summary for 32020.txt written to output_summaries/summary_32020.txt
Summary for 32107.txt written to output_summaries/summary_32107.txt
Summary for 32098.txt written to output_summaries/summary_32098.txt
Summary for 31329.txt written to output_summaries/summary_31329.txt
Summary for 31274.txt written to output_summaries/summary_31274.txt
Summary for 30968.txt written to output_summaries/summary_30968.txt
Summary for 31979.txt written to output_summaries/summary_31979.txt
Summary for 31061.txt written to output_summaries/summary_31061.txt
Summary for 31165.txt written to output_summaries/summary_31165.txt
Summary for 32854.txt written to output_summaries/summary_32854.txt
Summary for 31634.txt written to output_summaries/summary_31634.txt
Summary for 31058.txt written to output_summaries/summary_31058.txt
Summary for 30920.txt written to output_summaries/summary_30920.txt
Summary for 31866.txt written to output_summaries/summary_31866.txt
Summary for 31938.txt written to output_summaries/summary_31938.txt
Summary for 30790.txt written to output_summaries/summary_30790.txt
Summary for 31260.txt written to output_summaries/summary_31260.txt
Summary for 30966.txt written to output_summaries/summary_30966.txt
Summary for 31053.txt written to output_summaries/summary_31053.txt
Summary for 32155.txt written to output_summaries/summary_32155.txt
Summary for 30940.txt written to output_summaries/summary_30940.txt
Summary for 31608.txt written to output_summaries/summary_31608.txt
Summary for 32034.txt written to output_summaries/summary_32034.txt
Summary for 32349.txt written to output_summaries/summary_32349.txt
Summary for 30960.txt written to output_summaries/summary_30960.txt
Summary for 31358.txt written to output_summaries/summary_31358.txt
Summary for 32734.txt written to output_summaries/summary_32734.txt
Summary for 30952.txt written to output_summaries/summary_30952.txt
Summary for 32553.txt written to output_summaries/summary_32553.txt
Summary for 31628.txt written to output_summaries/summary_31628.txt
Summary for 32541.txt written to output_summaries/summary_32541.txt
Summary for 33036.txt written to output_summaries/summary_33036.txt
Summary for 31509.txt written to output_summaries/summary_31509.txt
Summary for 32170.txt written to output_summaries/summary_32170.txt
Summary for 30887.txt written to output_summaries/summary_30887.txt
Summary for 33027.txt written to output_summaries/summary_33027.txt
Summary for 31950.txt written to output_summaries/summary_31950.txt
Summary for 31038.txt written to output_summaries/summary_31038.txt
Summary for 31292.txt written to output_summaries/summary_31292.txt
Summary for 30841.txt written to output_summaries/summary_30841.txt
Summary for 31478.txt written to output_summaries/summary_31478.txt
Summary for 32859.txt written to output_summaries/summary_32859.txt
Summary for 32343.txt written to output_summaries/summary_32343.txt
Summary for 32141.txt written to output_summaries/summary_32141.txt
Summary for 30948.txt written to output_summaries/summary_30948.txt
Summary for 32139.txt written to output_summaries/summary_32139.txt
Summary for 31452.txt written to output_summaries/summary_31452.txt
Summary for 31201.txt written to output_summaries/summary_31201.txt
Summary for 33097.txt written to output_summaries/summary_33097.txt
Summary for 31831.txt written to output_summaries/summary_31831.txt
Summary for 32197.txt written to output_summaries/summary_32197.txt
Summary for 31681.txt written to output_summaries/summary_31681.txt
Summary for 31817.txt written to output_summaries/summary_31817.txt
Summary for 31254.txt written to output_summaries/summary_31254.txt
Summary for 32688.txt written to output_summaries/summary_32688.txt
Summary for 30856.txt written to output_summaries/summary_30856.txt
Summary for 30796.txt written to output_summaries/summary_30796.txt
Summary for 31811.txt written to output_summaries/summary_31811.txt
Summary for 30965.txt written to output_summaries/summary_30965.txt
Summary for 31872.txt written to output_summaries/summary_31872.txt
Summary for 31031.txt written to output_summaries/summary_31031.txt
Summary for 30850.txt written to output_summaries/summary_30850.txt
Summary for 30821.txt written to output_summaries/summary_30821.txt
Summary for 31014.txt written to output_summaries/summary_31014.txt
Summary for 30855.txt written to output_summaries/summary_30855.txt
Summary for 31617.txt written to output_summaries/summary_31617.txt
Summary for 32129.txt written to output_summaries/summary_32129.txt
Summary for 32190.txt written to output_summaries/summary_32190.txt
Summary for 31040.txt written to output_summaries/summary_31040.txt
Summary for 31983.txt written to output_summaries/summary_31983.txt
Summary for 31076.txt written to output_summaries/summary_31076.txt
Summary for 32384.txt written to output_summaries/summary_32384.txt
Summary for 33130.txt written to output_summaries/summary_33130.txt
Summary for 32616.txt written to output_summaries/summary_32616.txt
Summary for 32810.txt written to output_summaries/summary_32810.txt
Summary for 32135.txt written to output_summaries/summary_32135.txt
Summary for 31546.txt written to output_summaries/summary_31546.txt
Summary for 32771.txt written to output_summaries/summary_32771.txt
Summary for 31271.txt written to output_summaries/summary_31271.txt
Summary for 31987.txt written to output_summaries/summary_31987.txt
Summary for 32531.txt written to output_summaries/summary_32531.txt
Summary for 32392.txt written to output_summaries/summary_32392.txt
Summary for 31008.txt written to output_summaries/summary_31008.txt
Summary for 32180.txt written to output_summaries/summary_32180.txt
Summary for 30782.txt written to output_summaries/summary_30782.txt
Summary for 30886.txt written to output_summaries/summary_30886.txt
Summary for 31959.txt written to output_summaries/summary_31959.txt
Summary for 32538.txt written to output_summaries/summary_32538.txt
Summary for 32874.txt written to output_summaries/summary_32874.txt

Summary for 32004.txt written to output_summaries/summary_32004.txt
Summary for 33037.txt written to output_summaries/summary_33037.txt
Summary for 30950.txt written to output_summaries/summary_30950.txt
Summary for 32560.txt written to output_summaries/summary_32560.txt
Summary for 31319.txt written to output_summaries/summary_31319.txt
Summary for 31023.txt written to output_summaries/summary_31023.txt
Summary for 30820.txt written to output_summaries/summary_30820.txt
Summary for 31940.txt written to output_summaries/summary_31940.txt
Summary for 31948.txt written to output_summaries/summary_31948.txt
Summary for 31508.txt written to output_summaries/summary_31508.txt
Summary for 30783.txt written to output_summaries/summary_30783.txt
Summary for 32032.txt written to output_summaries/summary_32032.txt
Summary for 31484.txt written to output_summaries/summary_31484.txt
Summary for 31026.txt written to output_summaries/summary_31026.txt
Summary for 32378.txt written to output_summaries/summary_32378.txt
Summary for 31540.txt written to output_summaries/summary_31540.txt
Summary for 31474.txt written to output_summaries/summary_31474.txt
Summary for 31623.txt written to output_summaries/summary_31623.txt
Summary for 31336.txt written to output_summaries/summary_31336.txt
Summary for 31203.txt written to output_summaries/summary_31203.txt
Summary for 32042.txt written to output_summaries/summary_32042.txt
Summary for 31824.txt written to output_summaries/summary_31824.txt
Summary for 30913.txt written to output_summaries/summary_30913.txt
Summary for 32140.txt written to output_summaries/summary_32140.txt
Summary for 31655.txt written to output_summaries/summary_31655.txt
Summary for 31632.txt written to output_summaries/summary_31632.txt
Summary for 32229.txt written to output_summaries/summary_32229.txt
Summary for 32651.txt written to output_summaries/summary_32651.txt
Summary for 32936.txt written to output_summaries/summary_32936.txt
Summary for 32380.txt written to output_summaries/summary_32380.txt
Summary for 30897.txt written to output_summaries/summary_30897.txt
Summary for 30967.txt written to output_summaries/summary_30967.txt
Summary for 32272.txt written to output_summaries/summary_32272.txt
Summary for 31022.txt written to output_summaries/summary_31022.txt
Summary for 31828.txt written to output_summaries/summary_31828.txt
Summary for 32556.txt written to output_summaries/summary_32556.txt
Summary for 31568.txt written to output_summaries/summary_31568.txt
Summary for 31012.txt written to output_summaries/summary_31012.txt
Summary for 31105.txt written to output_summaries/summary_31105.txt
Summary for 32623.txt written to output_summaries/summary_32623.txt
Summary for 32408.txt written to output_summaries/summary_32408.txt
Summary for 33057.txt written to output_summaries/summary_33057.txt
Summary for 32177.txt written to output_summaries/summary_32177.txt
Summary for 31766.txt written to output_summaries/summary_31766.txt
Summary for 32555.txt written to output_summaries/summary_32555.txt
Summary for 32414.txt written to output_summaries/summary_32414.txt
Summary for 30924.txt written to output_summaries/summary_30924.txt
Summary for 31610.txt written to output_summaries/summary_31610.txt
Summary for 32926.txt written to output_summaries/summary_32926.txt
Summary for 32424.txt written to output_summaries/summary_32424.txt
Summary for 30904.txt written to output_summaries/summary_30904.txt
Summary for 32156.txt written to output_summaries/summary_32156.txt
Summary for 31664.txt written to output_summaries/summary_31664.txt
Summary for 31661.txt written to output_summaries/summary_31661.txt
Summary for 30991.txt written to output_summaries/summary_30991.txt
Summary for 31595.txt written to output_summaries/summary_31595.txt
Summary for 32149.txt written to output_summaries/summary_32149.txt
Summary for 32134.txt written to output_summaries/summary_32134.txt
Summary for 30854.txt written to output_summaries/summary_30854.txt
Summary for 32236.txt written to output_summaries/summary_32236.txt
Summary for 31469.txt written to output_summaries/summary_31469.txt
Summary for 32389.txt written to output_summaries/summary_32389.txt
Summary for 32220.txt written to output_summaries/summary_32220.txt
Summary for 32196.txt written to output_summaries/summary_32196.txt
Summary for 32176.txt written to output_summaries/summary_32176.txt
Summary for 31926.txt written to output_summaries/summary_31926.txt
Summary for 31757.txt written to output_summaries/summary_31757.txt
Summary for 32217.txt written to output_summaries/summary_32217.txt
Summary for 31567.txt written to output_summaries/summary_31567.txt
Summary for 32809.txt written to output_summaries/summary_32809.txt
Summary for 32879.txt written to output_summaries/summary_32879.txt
Summary for 31013.txt written to output_summaries/summary_31013.txt
Summary for 32848.txt written to output_summaries/summary_32848.txt
Summary for 30815.txt written to output_summaries/summary_30815.txt
Summary for 31063.txt written to output_summaries/summary_31063.txt
Summary for 31316.txt written to output_summaries/summary_31316.txt
Summary for 31042.txt written to output_summaries/summary_31042.txt
Summary for 31036.txt written to output_summaries/summary_31036.txt
Summary for 31290.txt written to output_summaries/summary_31290.txt
Summary for 32150.txt written to output_summaries/summary_32150.txt
Summary for 31506.txt written to output_summaries/summary_31506.txt
Summary for 32051.txt written to output_summaries/summary_32051.txt
Summary for 30947.txt written to output_summaries/summary_30947.txt
Summary for 32562.txt written to output_summaries/summary_32562.txt
Summary for 30778.txt written to output_summaries/summary_30778.txt
Summary for 30852.txt written to output_summaries/summary_30852.txt
Summary for 31601.txt written to output_summaries/summary_31601.txt
Summary for 31843.txt written to output_summaries/summary_31843.txt
Summary for 31127.txt written to output_summaries/summary_31127.txt
Summary for 31517.txt written to output_summaries/summary_31517.txt
Summary for 31424.txt written to output_summaries/summary_31424.txt
Summary for 31462.txt written to output_summaries/summary_31462.txt
Summary for 32376.txt written to output_summaries/summary_32376.txt
Summary for 32067.txt written to output_summaries/summary_32067.txt
Summary for 33090.txt written to output_summaries/summary_33090.txt
Summary for 33029.txt written to output_summaries/summary_33029.txt
Summary for 30777.txt written to output_summaries/summary_30777.txt
Summary for 31512.txt written to output_summaries/summary_31512.txt
Summary for 31050.txt written to output_summaries/summary_31050.txt
Summary for 32557.txt written to output_summaries/summary_32557.txt
Summary for 31914.txt written to output_summaries/summary_31914.txt
Summary for 30813.txt written to output_summaries/summary_30813.txt
Summary for 32865.txt written to output_summaries/summary_32865.txt
Summary for 31646.txt written to output_summaries/summary_31646.txt
Summary for 30922.txt written to output_summaries/summary_30922.txt
Summary for 32168.txt written to output_summaries/summary_32168.txt
Summary for 30895.txt written to output_summaries/summary_30895.txt
Summary for 31513.txt written to output_summaries/summary_31513.txt
Summary for 30785.txt written to output_summaries/summary_30785.txt
Summary for 31059.txt written to output_summaries/summary_31059.txt
Summary for 31220.txt written to output_summaries/summary_31220.txt
Summary for 32583.txt written to output_summaries/summary_32583.txt
Summary for 31834.txt written to output_summaries/summary_31834.txt
Summary for 32359.txt written to output_summaries/summary_32359.txt
Summary for 30808.txt written to output_summaries/summary_30808.txt
Summary for 30849.txt written to output_summaries/summary_30849.txt
Summary for 32097.txt written to output_summaries/summary_32097.txt
Summary for 32183.txt written to output_summaries/summary_32183.txt
Summary for 30819.txt written to output_summaries/summary_30819.txt
Summary for 31202.txt written to output_summaries/summary_31202.txt
Summary for 32609.txt written to output_summaries/summary_32609.txt

Summary for 31005.txt written to output_summaries/summary_31005.txt
Summary for 32543.txt written to output_summaries/summary_32543.txt
Summary for 31034.txt written to output_summaries/summary_31034.txt
Summary for 31879.txt written to output_summaries/summary_31879.txt
Summary for 31573.txt written to output_summaries/summary_31573.txt
Summary for 30800.txt written to output_summaries/summary_30800.txt
Summary for 32071.txt written to output_summaries/summary_32071.txt
Summary for 31399.txt written to output_summaries/summary_31399.txt
Summary for 31265.txt written to output_summaries/summary_31265.txt
Summary for 32185.txt written to output_summaries/summary_32185.txt
Summary for 30838.txt written to output_summaries/summary_30838.txt
Summary for 31970.txt written to output_summaries/summary_31970.txt
Summary for 32717.txt written to output_summaries/summary_32717.txt
Summary for 32072.txt written to output_summaries/summary_32072.txt
Summary for 32849.txt written to output_summaries/summary_32849.txt
Summary for 31699.txt written to output_summaries/summary_31699.txt
Summary for 31101.txt written to output_summaries/summary_31101.txt
Summary for 32025.txt written to output_summaries/summary_32025.txt
Summary for 33035.txt written to output_summaries/summary_33035.txt
Summary for 31889.txt written to output_summaries/summary_31889.txt
Summary for 30779.txt written to output_summaries/summary_30779.txt
Summary for 31854.txt written to output_summaries/summary_31854.txt
Summary for 32248.txt written to output_summaries/summary_32248.txt
Summary for 30982.txt written to output_summaries/summary_30982.txt
Summary for 32116.txt written to output_summaries/summary_32116.txt
Summary for 31492.txt written to output_summaries/summary_31492.txt
Summary for 31650.txt written to output_summaries/summary_31650.txt
Summary for 31074.txt written to output_summaries/summary_31074.txt
Summary for 30874.txt written to output_summaries/summary_30874.txt
Summary for 32113.txt written to output_summaries/summary_32113.txt
Summary for 32163.txt written to output_summaries/summary_32163.txt
Summary for 32773.txt written to output_summaries/summary_32773.txt
Summary for 31705.txt written to output_summaries/summary_31705.txt
Summary for 30899.txt written to output_summaries/summary_30899.txt
Summary for 32480.txt written to output_summaries/summary_32480.txt
Summary for 32074.txt written to output_summaries/summary_32074.txt
Summary for 31659.txt written to output_summaries/summary_31659.txt
Summary for 33053.txt written to output_summaries/summary_33053.txt
Summary for 32648.txt written to output_summaries/summary_32648.txt
Summary for 31851.txt written to output_summaries/summary_31851.txt
Summary for 33039.txt written to output_summaries/summary_33039.txt
Summary for 32954.txt written to output_summaries/summary_32954.txt
Summary for 32157.txt written to output_summaries/summary_32157.txt
Summary for 30901.txt written to output_summaries/summary_30901.txt
Summary for 30866.txt written to output_summaries/summary_30866.txt
Summary for 31755.txt written to output_summaries/summary_31755.txt
Summary for 31383.txt written to output_summaries/summary_31383.txt
Summary for 30941.txt written to output_summaries/summary_30941.txt
Summary for 32561.txt written to output_summaries/summary_32561.txt
Summary for 32684.txt written to output_summaries/summary_32684.txt
Summary for 32657.txt written to output_summaries/summary_32657.txt
Summary for 31618.txt written to output_summaries/summary_31618.txt
Summary for 31109.txt written to output_summaries/summary_31109.txt
Summary for 33098.txt written to output_summaries/summary_33098.txt
Summary for 30817.txt written to output_summaries/summary_30817.txt
Summary for 33154.txt written to output_summaries/summary_33154.txt
Summary for 30907.txt written to output_summaries/summary_30907.txt
Summary for 32939.txt written to output_summaries/summary_32939.txt
Summary for 32545.txt written to output_summaries/summary_32545.txt
Summary for 31942.txt written to output_summaries/summary_31942.txt
Summary for 31677.txt written to output_summaries/summary_31677.txt
Summary for 32792.txt written to output_summaries/summary_32792.txt
Summary for 32482.txt written to output_summaries/summary_32482.txt
Summary for 31633.txt written to output_summaries/summary_31633.txt
Summary for 31363.txt written to output_summaries/summary_31363.txt
Summary for 32548.txt written to output_summaries/summary_32548.txt
Summary for 31769.txt written to output_summaries/summary_31769.txt
Summary for 32966.txt written to output_summaries/summary_32966.txt
Summary for 32061.txt written to output_summaries/summary_32061.txt
Summary for 32148.txt written to output_summaries/summary_32148.txt
Summary for 31955.txt written to output_summaries/summary_31955.txt
Summary for 31844.txt written to output_summaries/summary_31844.txt
Summary for 32333.txt written to output_summaries/summary_32333.txt
Summary for 30902.txt written to output_summaries/summary_30902.txt
Summary for 30816.txt written to output_summaries/summary_30816.txt
Summary for 31440.txt written to output_summaries/summary_31440.txt
Summary for 31204.txt written to output_summaries/summary_31204.txt
Summary for 32179.txt written to output_summaries/summary_32179.txt
Summary for 31589.txt written to output_summaries/summary_31589.txt
Summary for 32437.txt written to output_summaries/summary_32437.txt
Summary for 31631.txt written to output_summaries/summary_31631.txt
Summary for 33054.txt written to output_summaries/summary_33054.txt
Summary for 30795.txt written to output_summaries/summary_30795.txt
Summary for 31685.txt written to output_summaries/summary_31685.txt
Summary for 31242.txt written to output_summaries/summary_31242.txt
Summary for 32825.txt written to output_summaries/summary_32825.txt
Summary for 33070.txt written to output_summaries/summary_33070.txt
Summary for 32223.txt written to output_summaries/summary_32223.txt
Summary for 32345.txt written to output_summaries/summary_32345.txt
Summary for 31984.txt written to output_summaries/summary_31984.txt
Summary for 33155.txt written to output_summaries/summary_33155.txt
Summary for 30927.txt written to output_summaries/summary_30927.txt
Summary for 30781.txt written to output_summaries/summary_30781.txt
Summary for 30822.txt written to output_summaries/summary_30822.txt
Summary for 31850.txt written to output_summaries/summary_31850.txt
Summary for 31306.txt written to output_summaries/summary_31306.txt
Summary for 32136.txt written to output_summaries/summary_32136.txt
Summary for 32165.txt written to output_summaries/summary_32165.txt
Summary for 32144.txt written to output_summaries/summary_32144.txt
Summary for 32044.txt written to output_summaries/summary_32044.txt
Summary for 31855.txt written to output_summaries/summary_31855.txt
Summary for 30888.txt written to output_summaries/summary_30888.txt
Summary for 31648.txt written to output_summaries/summary_31648.txt
Summary for 32964.txt written to output_summaries/summary_32964.txt
Summary for 31514.txt written to output_summaries/summary_31514.txt
Summary for 31604.txt written to output_summaries/summary_31604.txt
Summary for 31794.txt written to output_summaries/summary_31794.txt
Summary for 32597.txt written to output_summaries/summary_32597.txt
Summary for 32186.txt written to output_summaries/summary_32186.txt
Summary for 32540.txt written to output_summaries/summary_32540.txt
Summary for 32092.txt written to output_summaries/summary_32092.txt
Summary for 31064.txt written to output_summaries/summary_31064.txt
Summary for 30946.txt written to output_summaries/summary_30946.txt
Summary for 32452.txt written to output_summaries/summary_32452.txt
Summary for 31678.txt written to output_summaries/summary_31678.txt
Summary for 33018.txt written to output_summaries/summary_33018.txt
Summary for 30858.txt written to output_summaries/summary_30858.txt
Summary for 32394.txt written to output_summaries/summary_32394.txt
Summary for 32693.txt written to output_summaries/summary_32693.txt
Summary for 31277.txt written to output_summaries/summary_31277.txt
Summary for 30903.txt written to output_summaries/summary_30903.txt

# create CSV file for generated extractive summary

In [7]:

# Folder path
folder_path = "output_summaries"

# Initialize an empty list to store data
data = []
# Iterate over files in the folder
for filename in os.listdir(folder_path):
    file_path = os.path.join(folder_path, filename)

    # Check if the item in the folder is a file (not a subfolder)
    if os.path.isfile(file_path):
        # Read the content of the file
        with open(file_path, 'r', encoding='utf-8') as file:
            content = file.read()

        # Append data to the list
        data.append((filename, content))

# Create a DataFrame
rd_extra_summ = pd.DataFrame(data, columns=["Filename", "Ext_Summary"])

# Set the index to be "31839"
rd_extra_summ.set_index("Filename", inplace=True)

# Save the DataFrame to a CSV file
rd_extra_summ.to_csv("Ext_Summary_50_files_lexRank.csv")

In [8]:
# Display the DataFrame
print(rd_extra_summ)

                                                         Ext_Summary
Filename
summary_32044.txt  25546.04    9 August 2017  PM    Proof Six NCC...
summary_33070.txt  Tellitstraight Reuters Annual Report and Form ...
summary_32139.txt  ANNUAL REPORT AND ACCOUNTS 2017 50 YEARS OF  I...
summary_32480.txt  Yorkshire Water  Services Limited Annual Repor...
summary_30817.txt  Annual Report 201 7 Strategic Report   What we...
...                                                              ...
summary_32540.txt  HAYWARD TYLER GROUP PLC     REPORT & ACCOUNTS ...
summary_31618.txt  ITE Group plc  Annual Report and Accounts 2017...
summary_31037.txt  ANNUAL REPORT Symphony Environmental Technolog...
summary_32134.txt  ANNUAL REPORT AND   FINANCIAL STATEMENTS  2016...
summary_30897.txt  Ubisense Group plc Annual Report 2017 Ubisense...

[363 rows x 1 columns]

In [9]:
rd_extra_summ['Numeric_Filename'] = rd_extra_summ.index.str.extract('(\d+)')

In [10]:
rd_extra_summ.head()

,Ext_Summary,Numeric_Filename
Filename,,
summary_32044.txt,25546.04 9 August 2017 PM Proof Six NCC...,NaN
summary_33070.txt,Tellitstraight Reuters Annual Report and Form ...,NaN
summary_32139.txt,ANNUAL REPORT AND ACCOUNTS 2017 50 YEARS OF I...,NaN
summary_32480.txt,Yorkshire Water Services Limited Annual Repor...,NaN
summary_30817.txt,Annual Report 201 7 Strategic Report What we...,NaN

In [11]:
import os
import csv

folder_path = 'output_summaries'
output_csv_path = 'output_summary.csv'

# Initialize CSV file
with open(output_csv_path, 'w', newline='') as csvfile:
    fieldnames = ['filename', 'extra_summary']
    writer = csv.DictWriter(csvfile, fieldnames=fieldnames)

    # Write header row
    writer.writeheader()

    # Iterate through text files
    for filename in os.listdir(folder_path):
        if filename.endswith(".txt"):
            file_path = os.path.join(folder_path, filename)

            # Extract the file number (assuming the filename is in the format '17.txt', '18.txt', etc.)
            file_number = os.path.splitext(filename)[0]

            # Read content from the file
            with open(file_path, 'r') as file:
                content = file.read()

            # Write to CSV
            writer.writerow({'filename': file_number, 'extra_summary': content})

print(f'CSV file created at {output_csv_path}')

CSV file created at output_summary.csv

In [12]:
import pandas as pd

In [13]:
res_ext_summ = pd.read_csv("output_summary.csv")

In [14]:
res_ext_summ.head()

        filename                                      extra_summary
0  summary_32044  25546.04    9 August 2017  PM    Proof Six NCC...
1  summary_33070  Tellitstraight Reuters Annual Report and Form ...
2  summary_32139  ANNUAL REPORT AND ACCOUNTS 2017 50 YEARS OF  I...
3  summary_32480  Yorkshire Water  Services Limited Annual Repor...
4  summary_30817  Annual Report 201 7 Strategic Report   What we...

In [15]:
res_ext_summ['extra_summary'][0]

'25546.04    9 August 2017  PM    Proof Six NCC Group plc  Annual Report and Accounts  for the year ended 31 May 2017 NCC Group plc        Stock Code: NCC securing   tomorrow,   today Annual Report and Accounts for the year ended 31 May 2017 NCC AR2017 - proof 8-Front.indd   3     25546.04    9 August 2017  PM    Proof Six Why   we exist NCC Group is a global expert  in cyber security and risk  mitigation, working with  businesses to protect  their brand, data (including  intellectual property), value and  reputations against the ever- evolving threat landscape. The Group’s independence, knowledge,  experience and global footprint ensures that  NCC Group can help businesses identify,  assess, mitigate and respond to the risks they  face within this fluid and hostile environment. NCC Group is passionate about changing the  shape of the internet to make it safer and  revolutionising the way in which organisations  think about cyber security. NCC Group currently operates from over   30 offices across the UK, continental Europe,  North America, Australia, Canada, Singapore  and the United Arab Emirates. Visit us online at   NAVIGATING THE REPORT For further information within this   document and relevant page numbers Additional information available online BUSINESS OVERVIEW       Stock Code: NCC NCC AR2017 - proof 8-Front.indd   4     25546.04    9 August 2017  PM    Proof Six Financial   highlights (1)  z NCC Group operate in high growth markets  z Our expertise is highly valued by our customers  z We are at the forefront of thought leadership in cyber security  z NCC Group Escrow is an attractive niche business  z Self-help measures to improve margins through an updated Target  Operating Model and efficient business processes in both divisions  z In a highly fragmented market, NCC Group’s scale creates opportunity  for significant value creation through targeted acquisitions. Revenue  (£m) Operating Profit/Loss  (£m)   Adjusted EBIT  (£m) Adjusted EPS  (pence) 2015 133.7 209.1 244.5 2016 2017 2013 99.2 110.7 2014 2015 22.6 11.4 (53.4) 2016 2017 2013 19.8 24.1 2014 2015 26.4 38.4 27.6 2016 2017 2013 23.9 26.0 2014 2015 9.4 11.2 6.7 2016 2017 2013 8.4 9.3 2014 CONTENTS  LISTING HERE Investment   case BUSINESS OVERVIEW Financial highlights 1 Executive Chairman’s statement 2 Group at a glance 6 A day in the life… 14 STRATEGIC REPORT 16  Highlights 17 The strategic review and   target operating model 18 The market opportunity 20 Business model 24 Our strategy 26 Q&A with Chris Stone and Brian Tenner 28 Interim Chief Executive’s review 30 Group performance review for 2017 44 Principal risks and uncertainties 48 Corporate social responsibility 54 GOVERNANCE 58 Chairman’s letter •• 59 Governance framework 61 Board of Directors 62 Operations board 64 Board composition and division of  responsibilities 65 Shareholder relations 71 Audit committee report 74 Nomination committee report 82 Cyber security committee report 84 Remuneration committee report 86 Directors’ report 108 Directors’ responsibilities statement 112 FINANCIAL STATEMENTS 113 Independent auditor’s report 114 Consolidated income statement 118 Consolidated statement of   comprehensive income 119 Consolidated statement of   financial position 120 Consolidated statement of cash flows 122 Company statement of cash flows 124 Statements of changes of equity 125 Notes to the accounts 127 ADDITIONAL INFORMATION  Glossary of terms 170 Company information 172 Contents (1)  All from continuing operations   NCC Group plc Annual Report and Accounts for the year ended 31 May 2017 1 NCC AR2017 - proof 8-Front.indd   1     25546.04    9 August 2017  PM    Proof Six Introduction  My first statement to shareholders as  Executive Chairman reflects on two  strong but contradictory themes. Firstly,  the past year has been very challenging,  both operationally and financially. Business performance has fallen short  of expectations, we have outgrown some  of our business processes and controls,  and we have experienced significant  changes to our Board. Equally, and more importantly, it is  already clear that the years ahead  present significant upside opportunities. Strong value creation will result if we  effectively implement our new strategy  and successfully manage NCC Group  through the transitional period in which  we now find ourselves..'

# abstractive summary

In [16]:
import pandas as pd
from transformers import AutoModelForSeq2SeqLM, AutoTokenizer

import nltk
from nltk.tokenize import sent_tokenize

from tqdm import tqdm
import torch

nltk.download("punkt")

/home/student/.local/lib/python3.8/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
[nltk_data] Downloading package punkt to /home/student/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [ ]:
# !pip install sentencepiece

In [17]:
from transformers import PegasusForConditionalGeneration, PegasusTokenizer

# Load pre-trained PEGASUS model and tokenizer
model_name = "google/pegasus-large"
tokenizer = PegasusTokenizer.from_pretrained(model_name)
model = PegasusForConditionalGeneration.from_pretrained(model_name)

/home/student/.local/lib/python3.8/site-packages/torch/_utils.py:831: UserWarning: TypedStorage is deprecated. It will be removed in the future and UntypedStorage will be the only storage class. This should only matter to you if you are using storages directly.  To access UntypedStorage directly, use tensor.untyped_storage() instead of tensor.storage()
  return self.fget.__get__(instance, owner)()
Some weights of PegasusForConditionalGeneration were not initialized from the model checkpoint at google/pegasus-large and are newly initialized: ['model.decoder.embed_positions.weight', 'model.encoder.embed_positions.weight']
You should probably TRAIN this model on a down-stream task to be able to use it for predictions and inference.

In [18]:
res_ext_summ['token_count'] = res_ext_summ['extra_summary'].apply(lambda x: len(tokenizer.encode(x, max_length=1024, truncation=True)))

In [19]:
res_ext_summ.head()

,filename,extra_summary,token_count
0,summary_32044,25546.04 9 August 2017 PM Proof Six NCC...,780
1,summary_33070,Tellitstraight Reuters Annual Report and Form ...,666
2,summary_32139,ANNUAL REPORT AND ACCOUNTS 2017 50 YEARS OF I...,301
3,summary_32480,Yorkshire Water Services Limited Annual Repor...,509
4,summary_30817,Annual Report 201 7 Strategic Report What we...,699

In [20]:
res_ext_summ['token_count'].max()

1024

In [21]:
res_ext_summ['token_count'].min()

45

In [22]:
# Tokenize and generate summary
def generate_abs_summary(text):
    inputs = tokenizer(text, return_tensors="pt", max_length=1024, truncation=True)
    summary_ids = model.generate(inputs["input_ids"], max_length=512, length_penalty=2.0, num_beams=4, early_stopping=True)
    summary = tokenizer.decode(summary_ids[0], skip_special_tokens=True)
    return summary

In [23]:
# Apply the function to each row in 'extra_summary' column
res_ext_summ['gen_abs_summary'] = res_ext_summ['extra_summary'].apply(generate_abs_summary)

In [24]:
res_ext_summ.head()

,filename,extra_summary,token_count,gen_abs_summary
0,summary_32044,25546.04 9 August 2017 PM Proof Six NCC...,780,25546.04 9 August 2017 PM Proof Six NCC Group ...
1,summary_33070,Tellitstraight Reuters Annual Report and Form ...,666,Tellitstraight Reuters Annual Report and Form ...
2,summary_32139,ANNUAL REPORT AND ACCOUNTS 2017 50 YEARS OF I...,301,"2012 AVEVA acquires Bocad, adding advanced str..."
3,summary_32480,Yorkshire Water Services Limited Annual Repor...,509,Yorkshire Water Services Limited Annual Report...
4,summary_30817,Annual Report 201 7 Strategic Report What we...,699,Annual Report 201 7 Strategic Report What we d...

In [25]:
# Assuming 'res_ext_summ' is your DataFrame
res_ext_summ.to_csv('abs_summary_peg.csv', index=False)

In [26]:
x = pd.read_csv('abs_summary_peg.csv')

In [27]:
x.head()

,filename,extra_summary,token_count,gen_abs_summary
0,summary_32044,25546.04 9 August 2017 PM Proof Six NCC...,780,25546.04 9 August 2017 PM Proof Six NCC Group ...
1,summary_33070,Tellitstraight Reuters Annual Report and Form ...,666,Tellitstraight Reuters Annual Report and Form ...
2,summary_32139,ANNUAL REPORT AND ACCOUNTS 2017 50 YEARS OF I...,301,"2012 AVEVA acquires Bocad, adding advanced str..."
3,summary_32480,Yorkshire Water Services Limited Annual Repor...,509,Yorkshire Water Services Limited Annual Report...
4,summary_30817,Annual Report 201 7 Strategic Report What we...,699,Annual Report 201 7 Strategic Report What we d...

In [28]:
x['filename']

0      summary_32044
1      summary_33070
2      summary_32139
3      summary_32480
4      summary_30817
           ...
358    summary_32540
359    summary_31618
360    summary_31037
361    summary_32134
362    summary_30897
Name: filename, Length: 363, dtype: object

In [29]:
# Assuming 'x' is your DataFrame
x['numeric_part'] = x['filename'].str.extract(r'(\d+)')

In [30]:
x['numeric_part']

0      32044
1      33070
2      32139
3      32480
4      30817
       ...
358    32540
359    31618
360    31037
361    32134
362    30897
Name: numeric_part, Length: 363, dtype: object

# take actual summary_1

In [31]:
# Assuming 'x' is your DataFrame
folder_path = 'fns2020_dataset/validation/gold_summaries'

def read_summary_file(file_name):
    file_path = os.path.join(folder_path, file_name)
    with open(file_path, 'r') as file:
        return file.read()

# Apply the function to each row in 'numeric_part' column and create a new column 'file_content'
x['file_content'] = x['numeric_part'].apply(lambda num: read_summary_file(f'{num}_1.txt'))

In [32]:
x.head()

,filename,extra_summary,token_count,gen_abs_summary,numeric_part,file_content
0,summary_32044,25546.04 9 August 2017 PM Proof Six NCC...,780,25546.04 9 August 2017 PM Proof Six NCC Group ...,32044,25546.04 9 August 2017 3:58 PM Proof Si...
1,summary_33070,Tellitstraight Reuters Annual Report and Form ...,666,Tellitstraight Reuters Annual Report and Form ...,33070,CHIEF EXECUTIVE’S REVIEW\nReuters Group PLC A...
2,summary_32139,ANNUAL REPORT AND ACCOUNTS 2017 50 YEARS OF I...,301,"2012 AVEVA acquires Bocad, adding advanced str...",32139,14\nAVEVA GROUP PLC ANNUAL REPORT AND ACCOUNT...
3,summary_32480,Yorkshire Water Services Limited Annual Repor...,509,Yorkshire Water Services Limited Annual Report...,32480,Chief Executive’s Overview\nGood progress\nTh...
4,summary_30817,Annual Report 201 7 Strategic Report What we...,699,Annual Report 201 7 Strategic Report What we d...,30817,Strategic Report \nQ&A with Interim Group Ch...

In [33]:
x

,filename,extra_summary,token_count,gen_abs_summary,numeric_part,file_content
0,summary_32044,25546.04 9 August 2017 PM Proof Six NCC...,780,25546.04 9 August 2017 PM Proof Six NCC Group ...,32044,25546.04 9 August 2017 3:58 PM Proof Si...
1,summary_33070,Tellitstraight Reuters Annual Report and Form ...,666,Tellitstraight Reuters Annual Report and Form ...,33070,CHIEF EXECUTIVE’S REVIEW\nReuters Group PLC A...
2,summary_32139,ANNUAL REPORT AND ACCOUNTS 2017 50 YEARS OF I...,301,"2012 AVEVA acquires Bocad, adding advanced str...",32139,14\nAVEVA GROUP PLC ANNUAL REPORT AND ACCOUNT...
3,summary_32480,Yorkshire Water Services Limited Annual Repor...,509,Yorkshire Water Services Limited Annual Report...,32480,Chief Executive’s Overview\nGood progress\nTh...
4,summary_30817,Annual Report 201 7 Strategic Report What we...,699,Annual Report 201 7 Strategic Report What we d...,30817,Strategic Report \nQ&A with Interim Group Ch...
...,...,...,...,...,...,...
358,summary_32540,HAYWARD TYLER GROUP PLC REPORT & ACCOUNTS ...,381,Markets we serve Power Generation: Oil & Gas: ...,32540,Hayward Tyler Group PLC \nFinancial statement...
359,summary_31618,ITE Group plc Annual Report and Accounts 2017...,574,3 Like-for-like results are stated on a consta...,31618,Financial statements Governance Strategic rep...
360,summary_31037,ANNUAL REPORT Symphony Environmental Technolog...,403,ANNUAL REPORT Symphony Environmental Technolog...,31037,Chief Executive’s Review\nMichael Laurier\nSy...
361,summary_32134,ANNUAL REPORT AND FINANCIAL STATEMENTS 2016...,507,Group underlying sales* Profit before tax £12....,32134,STRATEGIC REPORT\nChief Executive's review\nI...
362,summary_30897,Ubisense Group plc Annual Report 2017 Ubisense...,419,Our solutions are based on powerful enterprise...,30897,Bringing the \ndigital twin to life\nWe have ...

In [39]:
x['gen_abs_summary'][100]

'2002 Annual Report& Accounts DICOM Group plc Leading in Products and Services for the Electronic Document Capture Market and the Automation of Related Business Transactions DOC UMENT S IN INF ORMA TION OUT 13 39 14 18 20 23 6 DICOM Group plc 2 Annual Report 2002 3 4 About DICOM Group 5 Financial Highlights 6 Chairman’s Statement 9 Chief Executive s Review 11 Financial Review 13 Making Your Information Digital 14 Our Customers 17 Our Global EDC Team 18 Our EDC Products 20 Our Commitment to the Future 21 SGA Division 22 International Presence 23 Team & Organisation 24 Company News 25 The DICOM Group Share 27 Directors 29 Directors’ Report 31 Corporate Governance Statement 34 Remuneration Report 36 Statement of Directors’ Responsibilities 37 Independent Auditors’ Report 39 Consolidated Financial Statements 45 Notes to the Financial Statements 62 Five Year Record 63 Notice of Annual General Meeting 68 Company Secretary and Advisers 68 Principal Subsidiaries C ONTENT S DICOM Group plc 4 DICOM Group plc DICOM Group is the global leader in the Electronic Document Capture (EDC) market, a fast growing segment of the Office Automation industry.'

In [40]:
x['file_content'][100]

' Annual Report 2002\n9\nI am delighted to provide a review of the trading\ncompanies in my new position as Chief\nExecutive of DICOM Group. Since being founded\n11 years ago and as a result of the vision and\nleadership provided by my predecessor Otto\nSchmid, the Group has shown an exceptional\ndevelopment. We were established as a Swiss\ncompany trading IT peripherals and have gone\nthrough a substantial evolution since. Today, we\nare recognised as the worldwide leader in our\ntarget markets, active in over 60 countries\naround the globe.\nIn the past most enterprises have heavily\ninvested in a broad range of IT solutions that\nautomate their business transactions and\nsupport decision making. However connectivity\nbetween input devices and applications is\nfrequently inadequate or absent resulting in\ndata and document access being imprecise,\nslow and hence expensive.\nThe EDC solutions offered by DICOM Group\nsolve this dilemma at an attractive cost to\nbenefit ratio. We have been able to grow the\nEDC Division by approximately 30% year over\nyear since our flotation in 1996, through our\ntechnological leadership and strict adherence to\nour successful sales channel concept.  Building\non this success it is my goal to improve the\nGroup’s market position in the EDC market,\nwhilst also adding businesses that are\ncomplementary to our core area of activities.\nDICOM Group achieved excellent results in its\ncore EDC Division last year in contrast to\nfurther deteriorating conditions in the IT\nindustry. Our business partners and customers\nhave continued to report that IT budgets remain\nunder tight scrutiny. EDC investments, however,\nwere broadly saved from this development as\nthey allow quick payback periods to be\nachieved.\nEDC now contributes more than 68% to total\nGroup turnover. Turnover with own products\nand services showed substantial growth during\nthe year and contributed 39% and 17%\nrespectively of sales. Third party products sold\nby the EDC Division accounted for the balance.\nIt is our strategy to leverage our position in the\nEDC market to make DICOM Group’s products\navailable to the high and low end of the EDC\nmarket. As a result we have allocated\nsignificantly more funds to research and\ndevelopment.  Last year we increased spending\nby 41% to £7.4m (2001: £5.3m). This\ncommitment has allowed us a high rate of\nproduct innovations for existing products and\nthe launch of entirely new products at the same\ntime.\nPRODUCT DEVELOPMENTS\nOur award winning Virtual ReScan™ (VRS)\nproduct line, which optimises both image quality\nand the scan process, continues to do very well.\nTurnover development in £m since IPO\nand number of employees\n160\n140\n120\n100\n80\n60\n40\n20\n96\n*\n97 98 99 00 01 02\nturnover                 Number of employees          \n* \npro forma unaudited\n117\n250\n320\n339\n486\n718\n773\nCHIEF EXE C UTIVE’ S\nREVIEW which is underscored by the successful\nparticipation in a rising number of large EDC\nprojects. Consequently the number of Ascent\nCapture software licences sold to date has\nincreased significantly to 32,500 (30 June 2001:\n22,500). \nEUROPE\nDICOM Europe, our European sales and service\noperations, provided solid growth and better\nmargins. In the Group’s major territories an\nimproved performance was achieved in contrast\nto the general slow-down in the IT industry. The\ndrive to provide consulting and other services\ncontinues to improve the quantity and quality of\nthe Group’s service revenues.\nASIA\nIn June we announced that our stake in DICOM\nAsia was increased from 40% to 80%. This\nacquisition strengthens our involvement in\nSouth East Asia, the Greater China region and\nAustralia and reinforces the Group’s ongoing\nstrategy to grow both organically and by\nacquisitions. During the past four years, DICOM\nAsia has successfully managed to expand its\nreach, customer base and capabilities in very\nchallenging market conditions. We are currently\nincreasing our activities in the Greater China\nregion and also intend to exploit fully our leading\nposition in the high growth Asian market.\nDICOM Group is better placed than ever to\ncapitalise on its increased global presence, with\nsales and support services in every major\nmarket in the world and a product range which\nis the most comprehensive in the industry, at the\ncutting edge of today’s technology in EDC\nsoftware.\nArnold von Büren\nChief Executive Officer 10 October 2002\nDICOM Group plc\n10\nThe software version of VRS (v2.1) now supports\nmore than 40 document scanner models with\nreal time image enhancement features. Several\nlarger projects were secured. The ASIC version\nof VRS, which is being sold on the basis of OEM\nagreement for use in document scanners, is\nbeing sold to both new scanner manufacturers\nand for new scanner models thereby increasing\nits future sales prospects significantly. In May\n2002 we were awarded an US patent for VRS.\nAscent Capture 5.5, a major release of the award\nwinning capture application, was launched in\nMay 2002 offering broader product functionality\nand improved support for high performance\ndatabases. With these improvements Ascent\nCapture has been able to gain further market\nshare in the high end sector of the EDC market.\nIn June 2002, we launched Ascent Ricochet. It is\nthe first software product on the market that\nextends professional EDC features to every\ndesktop in an enterprise, government\norganisation or not for profit organisation. It\npermits Multifunctional Products and digital\ncopiers to be used as document scanners.\nAlmost all organisations have copiers and\nscanner in use.  This new product brings added\nefficiency and features to these equipment\ninvestments.\nBlue chip software houses and system\nintegrators have continued to integrate Ascent\nCapture products and VRS into their solutions as\na result of ongoing focused sales and marketing\ninitiatives. Ascent Capture, also described in the\nEDC market as “The Operating System of\nCapture”, continues to move upmarket – a trend\n'

In [45]:
x.head()

,filename,extra_summary,token_count,gen_abs_summary,numeric_part,file_content
0,summary_32044,25546.04 9 August 2017 PM Proof Six NCC...,780,25546.04 9 August 2017 PM Proof Six NCC Group ...,32044,25546.04 9 August 2017 3:58 PM Proof Si...
1,summary_33070,Tellitstraight Reuters Annual Report and Form ...,666,Tellitstraight Reuters Annual Report and Form ...,33070,CHIEF EXECUTIVE’S REVIEW\nReuters Group PLC A...
2,summary_32139,ANNUAL REPORT AND ACCOUNTS 2017 50 YEARS OF I...,301,"2012 AVEVA acquires Bocad, adding advanced str...",32139,14\nAVEVA GROUP PLC ANNUAL REPORT AND ACCOUNT...
3,summary_32480,Yorkshire Water Services Limited Annual Repor...,509,Yorkshire Water Services Limited Annual Report...,32480,Chief Executive’s Overview\nGood progress\nTh...
4,summary_30817,Annual Report 201 7 Strategic Report What we...,699,Annual Report 201 7 Strategic Report What we d...,30817,Strategic Report \nQ&A with Interim Group Ch...

In [46]:
# Assuming 'res_ext_summ' is your DataFrame
x.to_csv('final_abs_summary_peg.csv', index=False)

# Create Txt Files From CSV

In [47]:
abs_summ = pd.read_csv('final_abs_summary_peg.csv')

In [49]:
abs_summ.tail()

,filename,extra_summary,token_count,gen_abs_summary,numeric_part,file_content
358,summary_32540,HAYWARD TYLER GROUP PLC REPORT & ACCOUNTS ...,381,Markets we serve Power Generation: Oil & Gas: ...,32540,Hayward Tyler Group PLC \nFinancial statement...
359,summary_31618,ITE Group plc Annual Report and Accounts 2017...,574,3 Like-for-like results are stated on a consta...,31618,Financial statements Governance Strategic rep...
360,summary_31037,ANNUAL REPORT Symphony Environmental Technolog...,403,ANNUAL REPORT Symphony Environmental Technolog...,31037,Chief Executive’s Review\nMichael Laurier\nSy...
361,summary_32134,ANNUAL REPORT AND FINANCIAL STATEMENTS 2016...,507,Group underlying sales* Profit before tax £12....,32134,STRATEGIC REPORT\nChief Executive's review\nI...
362,summary_30897,Ubisense Group plc Annual Report 2017 Ubisense...,419,Our solutions are based on powerful enterprise...,30897,Bringing the \ndigital twin to life\nWe have ...

In [50]:
df = pd.DataFrame(abs_summ)
output_directory = 'output_abs_summaries'
os.makedirs(output_directory, exist_ok=True)

# Save each row's "gen_abs_summary" into a separate text file
for index, row in df.iterrows():
    numeric_part = row['numeric_part']
    summary_text = row['gen_abs_summary']

    # Creating the file name
    file_name = os.path.join(output_directory, f'{numeric_part}_summ.txt')

    # Saving the text to the file
    with open(file_name, 'w') as file:
        file.write(summary_text)

# Calculate Average Rouge Scores

In [53]:
# Assuming your data is in a CSV file named 'your_dataset.csv'
# If it's in a different format, adjust the read function accordingly
df = pd.read_csv('results.csv')

# Separate data for each ROUGE category
rouge_l_data = df[df['ROUGE-Type'] == 'ROUGE-L+StopWordRemoval+Stemming']
rouge_1_data = df[df['ROUGE-Type'] == 'ROUGE-1+StopWordRemoval+Stemming']
rouge_2_data = df[df['ROUGE-Type'] == 'ROUGE-2+StopWordRemoval+Stemming']
rouge_su4_data = df[df['ROUGE-Type'] == 'ROUGE-SU4+StopWordRemoval+Stemming']

# Calculate averages for each category
avg_rouge_l = rouge_l_data[['Avg_Recall', 'Avg_Precision', 'Avg_F-Score']].mean()
avg_rouge_1 = rouge_1_data[['Avg_Recall', 'Avg_Precision', 'Avg_F-Score']].mean()
avg_rouge_2 = rouge_2_data[['Avg_Recall', 'Avg_Precision', 'Avg_F-Score']].mean()
avg_rouge_su4 = rouge_su4_data[['Avg_Recall', 'Avg_Precision', 'Avg_F-Score']].mean()

# Print the results with labels
print("Average for ROUGE-L:")
print(avg_rouge_l)

print("\nAverage for ROUGE-1:")
print(avg_rouge_1)

print("\nAverage for ROUGE-2:")
print(avg_rouge_2)

print("\nAverage for ROUGE-SU4:")
print(avg_rouge_su4)

Average for ROUGE-L:
Avg_Recall       0.132869
Avg_Precision    0.481902
Avg_F-Score      0.193183
dtype: float64

Average for ROUGE-1:
Avg_Recall       0.152009
Avg_Precision    0.509783
Avg_F-Score      0.205946
dtype: float64

Average for ROUGE-2:
Avg_Recall       0.082421
Avg_Precision    0.190772
Avg_F-Score      0.094931
dtype: float64

Average for ROUGE-SU4:
Avg_Recall       0.119188
Avg_Precision    0.224869
Avg_F-Score      0.129694
dtype: float64